In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:\\IP\\greenmlops\\data\\raw\\fraud\\creditcard.csv')

In [3]:
df.shape

(284807, 31)

In [4]:
df.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [9]:
print("\nMissing values:\n", df.isnull().sum().sum())

Missing values:
 0

In [10]:
df.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [11]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [12]:
df['Class'].value_counts(normalize=True).round(4)*100

Class
0    99.83
1     0.17
Name: proportion, dtype: float64

In [13]:
df['Amount'].describe()

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
df['Time'].describe()

count    284807.000000
mean      94813.859575
std       47488.145955
min           0.000000
25%       54201.500000
50%       84692.000000
75%      139320.500000
max      172792.000000
Name: Time, dtype: float64

## FRAUD CLEANING

In [17]:
df_fraud = df

In [18]:
df_fraud['Time'] = df_fraud['Time'] / 3600
df_fraud.rename(columns={'Time': 'Time_hours'}, inplace=True)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_fraud['Amount_scaled'] = scaler.fit_transform(df_fraud[['Amount']])
df_fraud = df_fraud.drop('Amount', axis=1)

In [20]:
print(f"Shape: {df_fraud.shape}")
print(f"Missing values: {df_fraud.isnull().sum().sum()}")
print(f"Fraud rate: {df_fraud['Class'].mean()*100:.3f}%")
print(f"\nTime range (hours): {df_fraud['Time_hours'].min():.1f} - {df_fraud['Time_hours'].max():.1f}")
print(f"Amount_scaled mean: {df_fraud['Amount_scaled'].mean():.4f}")

Shape: (284807, 31)
Missing values: 0
Fraud rate: 0.173%

Time range (hours): 0.0 - 48.0
Amount_scaled mean: -0.0000

In [21]:
df_fraud.head(2)

,Time_hours,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,Amount_scaled
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475